/* Pc */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
/* Talet  and mobile*/
@media (max-width: 991.98px) {
  .nav {
    display: none;
  }

  .header-top {
    position: relative;
  }

  .logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .mobile-header__menu {
    position: absolute;
    top: 31px;
    left: 52px;
    cursor: pointer;
    color: white;
    width: 25px;
    height: 25px;
  }

  /* Overlay khi rỗi */
  .overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    inset: 0;
    transition: all 0.3s ease; /* BẬT transition */
  }

  /* Khi checkbox checked */
  #menu-list:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }
  .nav-mobile {
    position: fixed;
    background-color: #3d3c3c;
    z-index: 2;
    transition: all 0.3s ease; /* BẬT transition */
    inset: 0 55% 0 0;
    transform: translate(-100%);
  }
  #menu-list:checked ~ .nav-mobile {
    transform: translate(0);
  }

  .nav-mobile .nav-logo {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    padding: 12px 40px;
  }

  .nav-mobile .nav-logo > * {
    flex: 0 0 auto; /* tránh con bị width:100% của rule khác */
    width: auto;
  }

  /* override rule .logo-img đang bị position:absolute ở header */
  .nav-mobile .nav-logo .logo-imgg {
    position: static !important;
    width: 70px; /* chỉnh theo ý bạn */
    height: auto;
    display: block;
  }

  .nav-mobile .nav-logo label {
    /* nút đóng là label/ svg */
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
  }
  /* menu list */
  #nav__list-mobile {
    list-style: none;
    margin: 8px 0 8px 0;
    padding: 40px;
    width: 100%;
  }
  #nav__list-mobile li a {
    display: block;
    padding: 14px 18px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  .nav-tablet {
    padding: 0 14px;
  }
  /* hover / active */
  #nav__list-mobile li a:hover,
  #nav__list-mobile li.active a {
    background: #156c9a; /* màu highlight */
    color: #ffffff;
  }
  /* ==== hero=== */
  .header__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__left {
    order: 2;
    width: 100% !important;
    margin-top: 24px !important; /* ép nó không kế thừa 60px từ style.css */
    margin-bottom: 170px !important;
    text-align: center;
  }
  .header__right {
    order: 1;
  }

  .header__left .heading__2 {
    width: 100%;
  }
  .header__left .button__and_p {
    justify-content: center;
  }
  /* Ourr */
  .main__bottom {
    flex-direction: column;
    align-items: center;
  }
  .main-bottom-right {
    margin: 0 auto;
  }
  .btn-all {
    margin-left: 91px;
  }
  /* Word */
  /* .section__main .work__left {
    margin: 0 auto;
  } */
  .section__main .word-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 170px;
  }
  .word-right .word__seach {
    width: 100%;
  }
  .word-right .heading__4,
  .word__seach .page7 {
    padding: 12px 0;
  }
  .word__seach .page7 {
    width: 100%;
  }
  /* tes */
  .tes-ainm .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .testimonial__bottom .btn-lead {
    margin-left: 123px;
  }
  /* tean */

  .team .team__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .team__bottom .item__all {
    margin: 0 auto;
  }
  /* cta */
  .img__6 {
    display: none;
  }
  .cta .cta-all {
    gap: inherit;
  }
  .cta-all .cta__right {
    margin: 0 auto;
    width: 499px;
  }
  /* blog */
  .blog .blog-all {
    flex-direction: column-reverse;
  }
  .blog .blog__left {
    width: inherit;
    margin-left: 10px;
  }
  .blog__left .page-12 {
    text-align: center;
  }
  .blog__left .heading-7 {
    width: 612px;
  }
  .blog__left .left-fig {
    justify-content: center;
  }
  .log-in__mobile {
    display: none;
  }
  /* Tablet */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* footer */
    .footer__left {
      display: none;
    }
    .footer .footer-top {
      display: grid;
      grid-template-columns: 0.5fr 0.5fr 1fr;
    }
  }
  /* Mobile */
  @media (max-width: 767.98px) {
    /* header */
    .action {
      display: none;
    }
    .mobile-header__menu {
      top: 19px;
      left: 22px;
    }
    #nav__list-mobile {
      padding: 12px;
    }
    .nav-mobile .nav-logo {
      padding: 0 20px;
    }
    .layoutt {
      border-top: 1.5px solid #555;
      width: 70%;
      margin-left: 24px;
    }
    .log-in__mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: 8px;
      margin-top: 20px;
      height: 60px;
      padding-top: 20px;
    }
    .log-in__mobile .action__login-mobile,
    .action__signup-mobile {
      font-family: Sora;
      font-weight: 300;
      font-style: Light;
      font-size: 16px;
      line-height: 28px;
      padding: 8px 18px;
    }
    .log-in__mobile .action__login-mobile:hover,
    .action__signup-mobile:hover {
      color: #ffffff;
      background-color: #156c9a;
    }
    .nav__link--ellip::before {
      display: none;
    }
    .nav_home {
      margin-left: 14px;
    }
    /* hero */
    .header__right .header__bottom--img2 {
      display: none;
    }
    .header__bottom {
      gap: 8px;
    }
    .header__left .heading__2 {
      font-size: 55px;
    }
    .header__left .page__1 {
      font-size: 16px;
    }
    .header__left .button__and_p {
      flex-direction: column;
    }
    .header {
      height: 1250px;
    }
    /* Ourr */
    .main {
      padding: 85px 0;
    }
    .main__top .heading__2 {
      font-size: 45px;
    }
    .main__bottom {
      gap: 60px;
      padding: 60px 0 0 0;
    }
    .main__top .page__3 {
      font-size: 16px;
      width: 100%;
    }
    .main-bottom-left {
      width: inherit;
      height: inherit;
    }
    .main-bottom-left img {
      width: 350px;
      padding: 10px;
    }
    .btn-all {
      margin-left: 68px;
      margin-bottom: 20px;
    }
    .section__main {
      margin-top: 100px;
    }
    .main-bottom-right .main-bottom-right__item {
      width: 348px;
      margin-right: 10px;
    }
    .main-bottom-right__item:hover {
      box-shadow: 0px 0px 16px 0px #289bde26;
      border-radius: 12px;
    }
    /* Word */
    .section__main .work__left {
      padding: inherit;
    }
    .work__left .page__6 {
      width: 300px;
    }
    .word__seach img,
    .word__seach .heading__4,
    .word__seach .page7 {
      margin: 15px 0 0 15px;
    }
    /* tes */
    .tes-ainm .container {
      gap: 0px;
    }
    .tes-ainm {
      margin-top: 0px;
    }
    .tes-ainm .container .testimonial__top .img-2 {
      display: none;
    }
    .tes-ainm .container .testimonial__top {
      width: 400px;
    }
    .testimonial__top .img_1 {
      width: 400px;
      height: inherit;
    }
    .testimonial__bottom .heading-4 {
      font-size: 37px;
      width: 370px;
      margin: 0 auto;
    }
    .testimonial__bottom .page-8 {
      width: 370px;
      margin: 0 auto;
    }
    /* team */
    .main {
      padding: 50px 0;
    }
    .team {
      margin-top: 70px;
    }
    .team .team__top {
      width: 340px;
    }
    .team__top .heading-5 {
      font-size: 36px;
      text-align: center;
      width: 340px;
    }
    .team .btn-met {
      margin-left: 58px;
    }
    .team .team__bottom {
      grid-template-columns: repeat(1, 1fr);
    }
    /* cta */
    .cta {
      margin-top: 100px;
    }
    .cta .cta-all {
      padding: 0px 35px;
    }
    .cta__right .heading-6 {
      font-size: 33px;
      width: 100%;
    }
    .cta .cta__right {
      height: auto;
    }
    .cta__right .page-11 {
      font-size: 18px;
    }
    /* blog */
    .blog {
      margin-top: 100px;
    }
    .blog .blog__right {
      flex-direction: column;
    }
    .blog__right .blog-right__item {
      width: inherit;
      height: inherit;
      padding: 0 0 20px 0;
    }
    .blog .blog__right .img-7 {
      width: 100%;
    }
    .blog__left .heading-7 {
      font-size: 36px;
      width: 100%;
    }
    .blog__left .page-12 {
      text-align: start;
    }
    /* cta-2 */
    .cta-2 {
      margin-top: 100px;
    }
    .cta-2 .container {
      height: 420px;
      padding: 20px;
    }
    .cta-2 .heading-8 {
      font-size: 36px;
      text-align: start;
    }
    .cta-2 .page-13 {
      font-size: 16px;
      text-align: start;
    }
    .cta-2 .hr-1 {
      width: 249px;
    }
    /* footer */
    .footer {
      height: inherit;
    }
    .footer .footer-top {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 30px;
      padding-top: 40px;
    }
    .footer__right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .fb .hr-2 {
      margin-top: 60px;
    }
    .fb .page-14 {
      padding-bottom: 50px;
    }
    /*  */
    .word__seach .page7 {
      width: 275px;
    }
  }
}
